{{> menu id="dashboard"}}

<section class="ui segment">
    <h2 class="ui header">
      Station List of {{user.firstName}} {{user.lastName}}
    </h2>
</section>

  {{> liststations}}

  {{> addstation}}


