{{> menu}}
<!--
<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.title}}
  </h2>
-->
  <section class="ui segment">
    <h2 class="ui header">
      {{station.title}}
    </h2>
    <!-- set station as main object because that is what stationheader expects -->
    {{#with station}}
      {{> stationheader}}
    {{/with}}
  {{> listreadings}}
  {{> addreading}}
</section>